@charset "utf-8";


<style>
body{
    background-color: aquamarine; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px;

}
h1{color: paleturquoise; background-color: rebeccapurple;}
h2{color: blueviolet;}
p{
    text-align: justify;
}
</style>